.container {
    height: 100vh;
    width: 100vw;
    background-image: url('../image/жилой комплекс.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #242B33;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

.main {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    align-self: center;
    padding: 20px;
}

#logo1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: #FFFFFF;
    border-bottom: solid 2px white
}

.menu {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #FFFFFF;
}

#text1 {
    text-align: center;
    justify-self: center;
    color: #D4C17F;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 80px;
}

#mouse {
    width: 1em;
    height: 1em;
    padding-bottom: 60px;
}

.data {
    display: flex;
    align-items: center;
    font-size: 0.5em;
}

#address {
    padding-left: 10px;
    padding-right: 30px;
}

#number {
    padding-left: 10px;
}

#imgFooter {
    width: auto;
}